/* swip permit to swip between the 2 sections and #swipboard is the container */
#swipboard{
    display: flex;
    margin-left: 10vw;
}

.swip{
    margin-bottom: 0;
    text-align: center;
    width: 40vw;
    height: 6.5vh;
    background-color: rgba(142, 68, 173,0.3);
    color: white;
    font-size: 3vh;
    padding-top:3.5vh ;
    border: white solid 2px;
}

.swip:hover{
    cursor: pointer;
}

.part{
    border: 4px outset white;
    border-top: 0px;
    margin-top: 0;
    width: 80vw;
    margin-left: 10vw;
    background-color: rgba(142, 68, 173,0.5);
    height: 65vh;
    
   
}


/* app is about the view app */

#app{
    height: 100vh;
    width: 100vw;
    background-image: url(../appbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* article name */
h2{
    color: white;
   
    font-size: 3vh;
    text-align: center;
    text-decoration: underline;
    margin: 2vh;
    margin-top: 0;

}

/* article illustration */

img{
    width: 15vw;
    margin-left: 17.5vw;
    aspect-ratio: 1/1.5;
    
}

/* h3 is the price displayer */

h3{
    font-size: 7vh;
    margin: 2vh;
    color: white;
    font-family: HP;
    text-align: center;
}

/* displaying the name of this web site */

h1{
    font-size: 12vh;
    margin: 0;
    margin-bottom: 2vh;
    text-align: center;
    color: #f3d49b;
    font-family: HP;
    margin-top: 2vh;
}

/* importing the Harry Potter font */

@font-face {
    font-family: HP;
    src: url(../HARRYP__.TTF);
}

/* the next previus button to swich between elements */

#next , #prev{
    height: 20vh;
    width: 4vw;
    background-color: rgb(0,0,0,0.8);
    color: white;
    font-size: 6vh;
    border-radius: 10px;
    position: absolute;
    top: 45vh;
    border: 1px white solid;
}

#next:hover , #prev:hover{
    cursor: pointer;

}

#next{
    left: 91vw;
}

#prev{
    left: 5.5vw;
}

/* dynamic view class to show in wich section you are */

.active-swip {
    background-color: rgba(142, 68, 173, 0.8); 
}


footer{
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    background-color: black;
}

/* dynamic view classes used for the button "BUY" */

.instock{
    position: absolute;
    top: 40vh;
    left: 55vw;
    width: 25vw;
    height: 12vh;
    background-color: rgba(52, 73, 94, 1);
    font-size: 8vh;
    color: white;
    font-family: HP ;
    border-radius: 150px;
    border: white 3px solid;
   
}

.instock:hover{
    background-color: rgba(52, 73, 94, 0.8);
    cursor: pointer;    
}

.nostock{
    background-color: grey;
    color: black;
    cursor: not-allowed;
    position: absolute;
    top: 40vh;
    left: 55vw;
    width: 25vw;
    height: 12vh;
    font-size: 8vh;
    font-family: HP ;
    font-family: HP ;
    border-radius: 150px;
    border: white 3px solid;

}

/* Basket is the div used for diplaying the elements */

#basket{
    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;

}


#basket h2{
    color: black;
    font-size: 25px;
   padding-top: 25px;
}

#basket p {
    text-align: center;
    font-size: 50px;
    font-family: HP;
    margin-top: 0;
}

/* relative classes about form */

form{
    gap:10px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 15vw;
    height: 40vh;
    margin-top: 5vh;
    background-color: rgb(204, 204, 204);

}

form label{
    font-size: 50px;
}

textarea{
    width: 50vw;
    height: 15vh;
    font-size: 2vh;
}

input{
    font-size: 3vh;
    width: 25vw;
    height: 5vh;
}

form button{
    width: 10vw;
    height: 5vh;
    background-color: lightblue;
    margin-left: 30vw;
}